
/* The Modal (background) */
#formWrapper{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#paintForm {
    background-color: #ffb053;
    border: 3px solid black;
    margin: 4% auto;

}

#closeButton:hover{
    cursor: pointer;
}

#closeButton{
    right:0;
    margin-left:75%;

}

.formPaintPicture{
    /*
    width:100%;
    heigth: 100%;

     */
}

.formPaintPicture img{
   /* height:100%;
    width: 100%;

    border: #ba5100 5px solid;
    width:80%;
    margin: auto;
    min-width:300px;
    height:80%
}