
.newGamePageWrapper, .cluePageWrapper{
    display:flex;
    flex-direction: row;
    width:100%;
    height:86%;
    justify-content: space-around;
    align-content: center;
    top: 7%;
}

.adv{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width:10%;
    height:100%;
    margin-left:6%;
    margin-right:6%;
}
.adv img{
    margin: 10px;
    height:90%;

}

.lobbyContainer, .clueContainer{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:black 1px solid;
    width: 30%;
    min-height: 90%;
    border-radius:20px;
    background-color: #757de8;

}
/* deprecato

.lobbyContainer div{
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top:5px;
}
*/
.codeLabelWrapper, .matchIdWrapper{
    margin:7px;
}

.codeLabel, .matchID{
    font-size:25px;
    color:white;
}

.playerNamesWrapper{
    display:flex;
    flex-direction: column;
    width:80%;
    height: available;
    margin:10px;
}
.playerNameSample{ /*todo classe esempio, cambiare nome o rimuovere quando vera inserito il plugin */
    width: 100%;
    height: 8%;
    background-color:white;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
    text-justify: distribute;
    margin-top:5px;
    margin-bottom:5px;
    /* FIXME _questa classe presenta alcuni problemi:
         1) i rettangoli contenti i nomi dei giocatori sono troppo piccoli
         2) se si va oltre lo schermo con molti giocatori non è possibile fare lo scroll
               fino al raggiungimento del pulsante "Avvia Partita
          -
          -->risolvere questi problemi
   */

}
.startGameButton{
    position:relative;
    bottom:0;
    width: 40%;
    height: 100%;
    min-height:40px;
    font-size:18px;
    color:white;
    background-color: #002984;
    border-radius: 5px ;
    border:black 1px solid;
    cursor:pointer;
    transition-duration: 0.4s;
}

.startGameButton:hover{
    background-color:#ffb053;
    color:black;
}

/* regole esclusive della pagina dell'indizio: cluepage.html */

.playerNamesContainer{
    min-height:86%;
    width: 20%;
    margin-top:30px;
    margin-right: 10px;
}

.cluePageWrapper{
    justify-content: center;
}

.clueContainer{
    width:60%;
    margin-right:5px;
}

.clueText{
    color:white;
    font-size: 25px;
    padding:5%;
    text-align: center;
    text-overline: 3px;
    line-height: 1.3;
}

.paintPicture{
    border:#ba5100 3px solid;
    margin:5%;
    border-radius: 3px;
}

.selectPaint{
    width: 50%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5%;
}

/*fixme da rivedere e da ricontrollare le regole della cluePage.html */