
.newGamePageWrapper, .cluePageWrapper{
    display:flex;
    flex-direction: row;
    width:100%;
    height:86%;
    justify-content: space-around;
    align-content: center;

}

.adv{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width:10%;
    height:100%;
    margin-left:6%;
    margin-right:6%;
}
.adv img{
    margin: 10px;
    height:90%;

}

.lobbyContainer, .clueContainer{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:black 1px solid;
    width: 30%;
    min-height: 90%;
    border-radius:20px;
    background-color: #757de8;
}
/* deprecato

.lobbyContainer div{
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top:5px;
}
*/
.codeLabelWrapper, .matchIdWrapper{
    margin:7px;
}

.codeLabel, .matchID{
    font-size:25px;
    color:white;
}

.playerNamesWrapper{
    display:flex;
    flex-direction: column;
    min-width:80%;
    max-height: available;
    margin:10px;
}
.playerNameSample{ /
    display:flex;
    flex-direction:row;
    width: 100%;
    height:8%;
    max-height:available;

    background-color:white;
    border: black 1px solid;
    border-radius: 20px;
    justify-content:space-around;
    align-content:center;
    text-align: center;
    text-justify: distribute;
    margin-top:5px;
    margin-bottom:5px;

}

.playerNameSample h5{
    line-height: 2;
    display: block;
    vertical-align: middle;
}

.playerName{
    margin:auto;
}
.playerPoints{
   margin:auto;
}
.startGameButton{
    position:relative;
    bottom:0;
    width: 40%;
    height: 100%;
    min-height:40px;
    font-size:18px;
    color:white;
    background-color: #002984;
    border-radius: 5px ;
    border:black 1px solid;
    cursor:pointer;
    transition-duration: 0.4s;
}

.startGameButton:hover{
    background-color:#ffb053;
    color:black;
}

/* regole esclusive della pagina dell'indizio: cluepage.html */

.confirmButton{
    width: 40%;
    height: 50px;
    margin-bottom: 3%;
}

.playerNamesContainer{
    min-height:86%;
    width: 20%;
    margin-top:50px;
    margin-right: 10px;
    overflow: auto;
}

.cluePageWrapper{
    justify-content: center;
}

.clueContainer{
    width:60%;
    margin-right:5px;
}

.clueText{
    color:white;
    font-size: 25px;
    padding:5%;
    text-align: center;
    text-overline: 3px;
    line-height: 1.3;
}

.paintPicture{
    border:#ba5100 3px solid;
    margin:5%;
    border-radius: 3px;
}

.selectPaint{
    width: 40%;
    height: 50px;
    background-color: white;
    border-radius: 5px;

}

/*media queries relative alla createGame*/


@media (max-width: 850px){
    .adv{
        display: none;
    }

}

@media  (max-width: 1700px)
{
    .lobbyContainer{
        min-width: 50%;
    }

}

@media (max-width: 500px)
{
    .lobbyContainer{
        min-width: 60%;
    }

}

/*media queries relative alla cluePage*/

@media (max-width: 850px)
{
    .playerNameSample h5{
        font-size: 15px;
    }

    .clueText{
        font-size: 20px;
    }
    .cluePageWrapper{

        display: block;
        flex-direction: column;
    }

    .clueContainer{

        margin: auto;
        width: 80%;
    }
    .playerNamesContainer{
        margin: auto;
        width: 80%;
    }

    .playerNameSample{
        font-size: 13px;
    }

    .confirmButton{
        font-size: 18px;
        width: 70%;
    }

    .selectPaint{
        width: 70%;
    }

    .lobbyContainer, .clueContainer{
        margin-top:5%;
    }
}

@media (min-width: 851px) and (max-width: 1500px){
    .confirmButton{
        width: 30%;
    }
}