*{
    margin:0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    color: #000;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    height:100%;
}

.headerContainer{
    top: 0;
    background-color: #3f51b5;
    width:100%;
    position: sticky; /**/
    height:7%;

}

.header{
    background-color: #3f51b5;
    height: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}


.header2{
    background-color:#ba5100;
    height: 3px;
}

.header3{
    background-color: #ffb053;
    height: 10px;
    position:relative;
    bottom:0;
}

@media (max-height: 1100px){
    .header{

        background-color: #3f51b5;
        height: 50px;
        display: flex;

    }
}



.homeButton {
    border-color: black;
    font-size: 25px;
    color: antiquewhite;
    background-color: #002984;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor:pointer;
    transition-duration: 0.4s;
}

.homeButton:hover{
    background-color: #757de8;
}

.galleryHomeButton {
    border-color: black;
    font-size: 25px;
    color: black;
    background-color: #ffb053;
    width: 100%;
    height:100%;
    border-radius: 15px;
    cursor:pointer;
    transition-duration: 0.4s;
}

.galleryHomeButton:hover{
    background-color: #ba5100;
}


.container{
    margin:auto auto; /*fixme verificare visibilita con "auto auto" invece che con "100px auto" */
    width: 50%;
    display: flex;
    flex-direction: column;
    height:80%;
}

.container div{
    margin: 10px auto;
}

.sub-container{
    width:100%;
    height: 80%;

}



@media (max-height: 1100px){
    .sub-container{

    }
}

.logo{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width:100%;
}

/*regole footer */
/*todo riverede le dimensoni del footer, non sono corrette */


.footerContainer{
    bottom: 0;
    background-color: #3f51b5;
    width:100%;
    height:7%;
    position: absolute;
}


@media (max-height: 1100px){
    .footerContainer{
        bottom: 0;
        background-color: #3f51b5;
        width:100%;
        position: fixed;
    }
}
.plugin_wrapper{
    margin:auto;
    width: 100%;
    height: 80%;

}
.plugin_wrapper form{
    width:100%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    height:80%;
}


.nameSelected{
    margin:auto;
    width: 25%;
    height: 95px;
    font-size: 25px;

}

.fname{
    font-size: 25px;
    margin:auto;
    width:70%;
    height: 90px;
}


@media (max-height: 1100px){  /*media query per il form di inserimento Nome Giocatore */
    .fname{
        height:85%;
    }
    .nameSelected {
        height:100%;
    }
}


/* Inizio elementi grafici dedicati alla gallery */

.leftIconWrapper, .rightIconWrapper {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.leftIconWrapper div a span, .rightIconWrapper div a span{
    color: white;
    margin: 15px;
}

.wall{
    width: 100%;
    height: 50%;
   /*  background-color: #ffb053; */
    margin-bottom: 50px;
}

.paintings{
    height: 100%;
    margin-bottom:50px;
    background-color: #ffb053;
}

.wrap{
    height: 100%;

}


.material-symbols-outlined.md-96 {
    font-size: 96px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);;
}

#addPaintButton:hover{
    cursor: pointer;
}

