*{
    margin:0;
    font: normal 16px "Georgia", sans-serif;
    color: #000;

}


html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    height:100%;

}

.headerContainer{
    top: 0;
    background-color: #3f51b5;
    width:100%;
    position: sticky; /**/
    height: 7.5%;
    z-index: 2;
}

.header{
    background-color: #3f51b5;
    /*
    height: 100px;
     */
    height:100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

}


.header2{
    background-color:#ba5100;
    height: 3px;
}

.header3{
    background-color: #ffb053;
    height: 10px;
    position:relative;
    bottom:0;
}


@media (max-height: 1100px){
    .header{

        background-color: #3f51b5;
        /*
        height: 50px;
         */
        height: 100%;
        display: flex;

    }
}

.logo div{
    font-size: 150px;
}

.menuButton{
    width: 100%;
    color: antiquewhite;
    background-color: #002984;

}



.homeButton {
    border-color: black;
    /*font-size: 25px;*/
    height: 100%;
    border-radius: 15px;
    cursor:pointer;
    transition-duration: 0.4s;
}

.menuButton:hover{

    border: #ffb053 4px solid;
    background-color:white;
    color:black;
}

.galleryHomeButton {
    border-color: black;
    color: black;
    background-color: #ffb053;
    width: 100%;
    height:100%;
    border-radius: 15px;
    cursor:pointer;
    transition-duration: 0.4s;
}

.galleryHomeButton:hover{
    border: #ba5100 4px solid;
    background-color: white;
}

.menuContainer{
    margin:2% auto 0 auto;
    padding-bottom: 2%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.menuContainer div{
    margin: 10px auto;
}

.menuContainer button{
    padding: 3% 0 3% 0;
    font-size: 45px;
}


.indexContainer{
    margin:5% auto 0 auto;
    padding-bottom: 2%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border: #ffb053 4px  solid;
    border-radius: 10px;
}

.indexContainer div{
    margin: 10px auto;
}

.sub-container{
    width:100%;
    height: 80%;

}


@media (max-height: 1100px){
    .sub-container{

    }
}

.logo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width:90%;
}



/*regole footer */


.footerContainer{
    bottom: 0;
    background-color: #3f51b5;
    width:100%;
    height:7%;
    position: absolute;
}


@media (max-height: 1100px){
    .footerContainer{
        bottom: 0;
        background-color: #3f51b5;
        width:100%;
        position: fixed;
    }
}

.plugin_wrapper{
    margin:auto;
    width: 100%;
    height: 30%;
}

.plugin_wrapper form{

    width:100%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    height:100%;
}

.nameSelectedWrapper{
    width: 100%;
    margin: 0 auto;
    height: available;
}

.nameSelected{
    width: 100%;
    font-size: 40px;
    height: available;
    color:white;
    background-color: #002984;
    border-radius: 10px;
    cursor:pointer;
    transition-duration: 0.4s;
    padding-bottom: 4px;
    text-align:center;
}

.nameSelected:hover{
    border: #ffb053 4px solid;
    background-color:white;
    color:black;
}

.nameSelected:active{
    background-color:#ffb053;

}
/*

*/
.fnameWrapper{
    width:100%;
    height: available;
    margin:0 auto 0 auto;

}

.plugin_wrapper input{
    padding: 2% 0 2% 0;
    margin: 0 auto 2% 0;
}


.fname{
    width:90%;
    font-size: 30px;
    border-radius: 10px;
}

@media (max-width: 767px){
    .homeButton{
        font-size-adjust:0.5;
        line-height: 30px;
    }
    .fnameWrapper, .nameSelectedWrapper{
        margin:5% 1%;
    }
}

/*
@media (max-height: 1100px){
    .fname{
        height:85%;
    }
    .nameSelected {
        height:100%;
    }
}

*/

/* Inizio elementi grafici dedicati alla gallery */

.leftIconWrapper, .rightIconWrapper {
    display:flex;
    flex-direction: row;
    align-items: center;

}

.leftIconWrapper div a span, .rightIconWrapper div a span{
    color: white;
    margin: 15px;
}

.wall{
    width: 100%;
    height: 50%;
   /*  background-color: #ffb053; */
    margin-bottom: 50px;
}

.paintings{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: #ffb053;
}

.paintingsGallery{
    height: 100%;
    margin-bottom:50px;
}

.wrap{
    height: 100%;

}


.material-symbols-outlined.md-96 {
    font-size: 96px;
    margin: 0;
    position: relative;
    top: 45%;
}

#addPaintButton:hover{
    cursor: pointer;
}

.inputStyle{
    display: none;
    width: 100%;
    font-size: 16px;
    resize: none;
    line-height: 20px;
    border: 4px solid #BA5100FF;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#titleButton{
    cursor: pointer;

}

/* logo */


@media (max-width: 1000px) {
    .logo div{
        font-size: 90px;
    }

    .menuContainer button{
        font-size: 30px;
    }
    .menuContainer{
        width: 95%;
    }

}

@media(max-width: 600px){
    .logo div{
        font-size: 90px;
    }
}

@media (max-height: 810px) {
    .logo div{
        font-size: 80px;
    }

    .subtitle{
        font-size:27px;
    }
}

@media(min-width: 1001px) and (max-width: 1500px){
    .logo div{
        font-size:100px;
    }
    .menuContainer button{
        font-size: 30px;
    }
}

@media(min-width: 1501px) and (max-width: 1700px){
    .logo div{
        font-size:120px;
    }

    .menuContainer button{
        font-size: 35px;
    }
}

@media(max-height: 1000px){

    .menuContainer button{
        padding: 1% 0 1% 0;
    }

}



.headerButton{
    font-size:48px;
}

.headerButton:hover{

    font-size:50px;

    cursor:pointer;

}

/*plugin_wrapper playername*/

@media (max-width: 1700px) {
    .plugin_wrapper{
        width: 70%;
    }


}

@media(max-width:930px){
    .fname{
        font-size:20px;
    }

    .nameSelected{
        font-size:25px;
    }

    .subtitle{
        font-size: 25px;
    }
}

@media (max-width:780px){

    .logo{
        font-size:90px;
        width:90%;
    }

    .subtitle{
        font-size:20px;
    }
    

    .plugin_wrapper form{
        height:70%;
    }
}

@media (min-width: 500px) and (max-width: 810px){
    .indexContainer{
        width: 90%;
    }
}

@media (max-width: 499px){
    .indexContainer{
        margin-top:30%;
        width:90%;
    }

}

@media (max-width: 350px){
    .logo div{
        font-size: 60px;
    }
}
